@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --color-gold-50: #fdfaf0;
    --color-gold-100: #fbf5e1;
    --color-gold-200: #f7e6b3;
    --color-gold-300: #f3d785;
    --color-gold-400: #efc857;
    --color-gold-500: #eab929;
    --color-gold-600: #d4a017;
    --color-gold-700: #a98012;
    --color-gold-800: #7f600e;
    --color-gold-900: #544009;
    --color-gold-950: #2a2005;
}
